.wrapper {
  background-color: #ffff99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .wrapper .card {
    font-family: verdana;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 250px;
    height: 250px;
    margin: 10px;
    border-radius: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .wrapper .container {
    margin: 10%;
    width: 30%; }
    .wrapper .container .content, .wrapper .container .header {
      padding: 10px; }
  .wrapper .btn {
    text-align: center;
    min-width: 60px;
    padding: 10px; }

.theme-1 {
  color: #b3b300;
  background-color: #d6d600; }

.shadow-1 {
  -webkit-box-shadow: rgba(204, 204, 0, 0.3) 0 0 1px 1px;
          box-shadow: rgba(204, 204, 0, 0.3) 0 0 1px 1px; }

.theme-2 {
  color: yellow;
  background-color: #adad00; }

.shadow-2 {
  -webkit-box-shadow: rgba(153, 153, 0, 0.3) 0 0 2px 2px;
          box-shadow: rgba(153, 153, 0, 0.3) 0 0 2px 2px; }

.theme-3 {
  color: #ffff4d;
  background-color: #858500; }

.shadow-3 {
  -webkit-box-shadow: rgba(102, 102, 0, 0.3) 0 0 3px 3px;
          box-shadow: rgba(102, 102, 0, 0.3) 0 0 3px 3px; }

.theme-4 {
  color: #ffff99;
  background-color: #5c5c00; }

.shadow-4 {
  -webkit-box-shadow: rgba(51, 51, 0, 0.3) 0 0 4px 4px;
          box-shadow: rgba(51, 51, 0, 0.3) 0 0 4px 4px; }
