@import 'theme-generator';
$primary: yellow; // $primary is the color you want to use
$luminance: luminance($primary); //calculates color luminance
$themeColor: compensateLuminance($primary,$luminance);


.wrapper {
    // border: solid 3px invert($themeColor);
    background-color: lighten($themeColor, 30);
    display: flex;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    .card {
        font-family: verdana;
        display: flex;
        width: 250px;
        height: 250px;
        margin: 10px;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        
    }
    .container {
        margin: 10%;
        width: 30%;
        .content,.header {
         padding: 10px;
        }
    }  
    .btn {
        text-align: center;
        min-width: 60px;
        padding: 10px;
    }
}

@include themes($themeColor);
